<!DOCTYPE html>
<html>
    <head>
        <!--#include virtual="/dts/inc/head.html"-->
        <title>所有用户|NEINE预警系统</title>
    </head>
    <body>
        <!--#include virtual="/dts/inc/header.html"-->

        <div id="container" class="grid-elastic cf">

            <div id="sidebar" class="grid-220">
                <div class="menu">
                    <h3>用户管理</h3>
                    <!--#include virtual="/dts/inc/nav_passport.html"-->
                </div>
            </div>
            <!-- //sidebar -->

            <div id="content" class="wrapper">

                <div class="mod-1">
                    <div class="hd-1 cf">
                        <ul id="Tabs-2" class="tabs-2 fl">
                            <li><a href="../passport/list.html" class="current">所有用户</a></li>
                            <li><a href="../passport/add.html" class="">新增用户</a></li>
                        </ul>
                        <div class="fr toolbar">
                            <ul>
                                <li><a href="#"><i class="icon-toolbar icon-toolbar2"></i>打印</a></li>
                                <li><a href="../area/download" class="j_btn_export" target="_blank"><i class="icon-toolbar icon-toolbar3"></i>下载</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="bd-1">
                        <div class="panes-2">
                            <div id="list" class="j_common_list">
                                <!--
                                <div class="pagination">
                                    <ul>
                                        <li class="disabled"><a href="javascript:;" rel="nofollow">«</a></li>
                                        <li class="active"><a href="/list/index.html" rel="nofollow">1</a></li>
                                        <li><a href="/p-p2.html" rel="nofollow">2</a></li>
                                        <li><a href="/p-p3.html" rel="nofollow">3</a></li>
                                        <li><a href="/p-p4.html" rel="nofollow">4</a></li>
                                        <li><a href="/p-p5.html" rel="nofollow">5</a></li>
                                        <li><a href="/p-p6.html" rel="nofollow">6</a></li>
                                        <li><a href="/p-p7.html" rel="nofollow">7</a></li>
                                        <li><a href="/p-p8.html" rel="nofollow">8</a></li>
                                        <li><a href="/p-p9.html" rel="nofollow">9</a></li>
                                        <li><a href="/p-p10.html" rel="nofollow">10</a></li>
                                        <li class="disabled"><a>...</a></li>
                                        <li><a href="/p-p100.html" rel="nofollow">100</a></li>
                                        <li><a href="/p-p2.html" rel="nofollow">»</a></li>
                                    </ul>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--#include virtual="/dts/inc/footer.html"-->
        <script type="text/html" id="listTmpl">
            <table class="table table-auto">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>登录名</th>
                    <th>用户角色</th>
                    <th>监控区域</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <%for(i = 0; i < data.length; i++){%>
                    <%var item = data[i]%>
                    <tr>
                        <td><%=item.userid%></td>
                        <td><%=item.name%></td>
                        <td><%=['','超级管理员','系统管理员','班长','操作工'][item.role]%></td>
                        <td><%=item.areaIds%></td>
                        <td>
                            <a href="add.html?form_edit_mode=1&form_id=<%:u=item['userid']%><%for(var name in item){%>&form_<%=name%>=<%:u=item[name]%><%}%>"
                               target="_blank" class="j_common_edit">编辑</a>&nbsp;
                            <a href="#" class="j_common_delete" data-delete-id="<%=item.userid%>"
                                     data-delete-url="/user/delete">删除</a>
                        </td>
                    </tr>
                <%}%>
                </tbody>
            </table>
        </script>
        <script>
            $.get($.Dts.rootUri + '/user/list?userid=' + $.Dts.login.getUserId(), function(res){
                if(!$.Dts.ajax.validRes(res)){
                    return;
                }
                $('#list').html(baidu.template('listTmpl', res));
            });
        </script>
    </body>
</html>