<!DOCTYPE html>
<html>
    <head>
        <!--#include virtual="/dts/inc/head.html"-->
        <title>系统错误|NEINE预警系统</title>
        <style>
            #nav{
                display: none;
            }
        </style>
    </head>
    <body>
        <!--#include virtual="/dts/inc/header.html"-->
        <div style="background:none;">

            <!-- //sidebar -->

            <div style="background: url(../static/images/error.png) center center no-repeat;
height: 100px;
padding-top: 400px;
text-align: center;
font-size: 40px;">
                系统错误
            </div>
        </div>
    </body>
</html>