<!DOCTYPE html>
<html>
    <head>
        <!--#include virtual="/dts/inc/head.html"-->
        <title>软件过期|NEINE预警系统</title>
        <style>
            #nav{
                display: none;
            }
        </style>
    </head>
    <body>
        <!--#include virtual="/dts/inc/header.html"-->
        <div style="background:none;">

            <!-- //sidebar -->

            <div style="background: url(../static/images/error.png) center center no-repeat;
height: 100px;
padding-top: 400px;
text-align: center;
font-size: 40px;">
                软件已过期
            </div>
            <div style="text-align: center;"><a href="../passport/login.html">登录</a></div>
        </div>
    </body>
</html>