<!DOCTYPE html>
<html>
    <head>
        <!--#include virtual="/dts/inc/head.html"-->
        <title>所有分区|NEINE预警系统</title>
    </head>
    <body>
        <!--#include virtual="/dts/inc/header.html"-->

        <div id="container" class="grid-elastic cf">

            <div id="sidebar" class="grid-220">
                <div class="menu">
                    <h3>参数设置</h3>
                    <!--#include virtual="/dts/inc/nav_settings.html"-->
                </div>
            </div>
            <!-- //sidebar -->

            <div id="content" class="wrapper">

                <div class="mod-1">
                    <div class="hd-1 cf">
                        <ul id="Tabs-2" class="tabs-2 fl">
                            <li><a href="changqu_fenqu_list.html" class="current">所有分区</a></li>
                            <li><a href="changqu_fenqu_add.html" class="">新增分区</a></li>
                        </ul>
                        <div class="fr toolbar">
                            <ul>
                                <li><a href="http://42.96.164.29:28089/dts/monitor#"><i class="icon-toolbar icon-toolbar2"></i>打印</a></li>
                                <li><a href="http://42.96.164.29:28089/dts/monitor#"><i class="icon-toolbar icon-toolbar3"></i>导出</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="bd-1">
                        <div class="panes-2">
                            <div style="display: block;">
                                <table class="table table-auto">
                                    <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>分区名称</th>
                                            <th>分区图片</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td><span class="color-red">火警</span></td>
                                            <td>2013-9-24</td>
                                            <td>14:21:34</td>
                                        </tr><tr>
                                            <td>1</td>
                                            <td><span class="color-red">火警</span></td>
                                            <td>2013-9-24</td>
                                            <td>14:21:34</td>
                                        </tr><tr>
                                            <td>1</td>
                                            <td><span class="color-red">火警</span></td>
                                            <td>2013-9-24</td>
                                            <td>14:21:34</td>
                                        </tr><tr>
                                            <td>1</td>
                                            <td><span class="color-red">火警</span></td>
                                            <td>2013-9-24</td>
                                            <td>14:21:34</td>
                                        </tr>
                                    </tbody>
                                </table>
								<div class="pagination">
									<ul>
										<li class="disabled"><a href="javascript:;" rel="nofollow">«</a></li>
																<li class="active"><a href="/list/index.html" rel="nofollow">1</a></li>
												<li><a href="/p-p2.html" rel="nofollow">2</a></li>
												<li><a href="/p-p3.html" rel="nofollow">3</a></li>
												<li><a href="/p-p4.html" rel="nofollow">4</a></li>
												<li><a href="/p-p5.html" rel="nofollow">5</a></li>
												<li><a href="/p-p6.html" rel="nofollow">6</a></li>
												<li><a href="/p-p7.html" rel="nofollow">7</a></li>
												<li><a href="/p-p8.html" rel="nofollow">8</a></li>
												<li><a href="/p-p9.html" rel="nofollow">9</a></li>
												<li><a href="/p-p10.html" rel="nofollow">10</a></li>
																<li class="disabled"><a>...</a></li>
												<li><a href="/p-p100.html" rel="nofollow">100</a></li>
														<li><a href="/p-p2.html" rel="nofollow">»</a></li>
									</ul>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--#include virtual="/dts/inc/footer.html"-->
        <script>

        </script>
    </body>
</html>