<!DOCTYPE html>
<html>
    <head>
        <!--#include virtual="/dts/inc/head.html"-->
        <title>温度报警列表|NEINE预警系统</title>
    </head>
    <body>
        <!--#include virtual="/dts/inc/header.html"-->
        <div id="container" class="grid-elastic cf">

            <div id="sidebar" class="grid-220">
                <div class="menu">
                    <h3>参数设置</h3>
                    <!--#include virtual="/dts/inc/nav_settings.html"-->
                </div>
            </div>

            <div id="content" class="wrapper">

                <div class="mod-1">
                    <div class="hd-1 cf">
                        <ul id="Tabs-2" class="tabs-2 fl">
                            <li><a href="changqu_wendu_list.html" class="current">所有温度报警</a></li>
                            <li><a href="changqu_wendu_add.html" class="">新增温度报警</a></li>
                        </ul>
                        <div class="fr toolbar">
                            <ul>
                                <li><a href="#" class="j_btn_print"><i class="icon-toolbar icon-toolbar2"></i>打印</a></li>
                                <li><a href="#" class="j_btn_export"><i class="icon-toolbar icon-toolbar3"></i>导出</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="bd-1">
                        <div class="panes-2">
                            <div id="list" class="j_common_list"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--#include virtual="/dts/inc/footer.html"-->
        <script type="text/html" id="listTmpl">
            <table class="table table-auto">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>分区ID</th>
                        <th>分区名称</th>
                        <th>预警报警温度</th>
                        <th>火警报警温度</th>
                        <th>温升速率</th>
                        <th>温差</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <%for(i = 0; i < data.length; i++){%>
                        <%var item = data[i]%>
                        <tr>
                            <td><%=item.id%></td>
                            <td><%=item.areaid%></td>
                            <td><%=item.areaname%></td>
                            <td><%=item.low%></td>
                            <td><%=item.high%></td>
                            <td><%=item.exotherm%>/分钟</td>
                            <td><%=item.diff%></td>
                            <td>
                                <a href="changqu_wendu_add.html?form_edit_mode=1<%for(var name in item){%>&form_<%=name%>=<%:u=item[name]%><%}%>"
                                   class="j_common_edit">编辑</a>&nbsp;
                                <a href="#" class="j_common_delete" data-delete-id="<%=item.id%>"
                                   data-delete-url="/area/deleteTempconfig">删除</a>
                            </td>
                        </tr>
                    <%}%>
                </tbody>
            </table>
            <!--#include virtual="/dts/inc/nav_pager.html"-->
        </script>
        <script>
            $.Dts.listManager.init($('#list'), 10, function(){
                $.get($.Dts.rootUri + '/area/tempconfigs' + '?start='+ this.start +'&step='+ this.step, function(res){
                    if(!$.Dts.ajax.validRes(res)){
                        return;
                    }
                    $('#list').html(baidu.template('listTmpl', res));
                });
            });

        </script>
    </body>
</html>