<!DOCTYPE html>
<html>
    <head>
        <!--#include virtual="/dts/inc/head.html"-->
        <link rel="stylesheet" type="text/css" href="../static/css/theme_uploader_normal.css" />
        <title>新增通道|NEINE预警系统</title>
    </head>
    <body>
        <!--#include virtual="/dts/inc/header.html"-->
        <div id="container" class="grid-elastic cf">

            <div id="sidebar" class="grid-220">
                <div class="menu">
                    <h3>参数设置</h3>
                    <!--#include virtual="/dts/inc/nav_settings.html"-->
                </div>
            </div>
            <!-- //sidebar -->

            <div id="content" class="wrapper">

                <div class="mod-1">
                    <div class="hd-1 cf">
                        <ul id="Tabs-2" class="tabs-2 fl">
                            <li><a href="tongdao_list.html">所有通道</a></li>
                            <li><a href="tongdao_add.html" class="current j_common_add_title">新增通道</a></li>
                        </ul>
                        <div class="fr toolbar">
                        </div>
                    </div>
                    <div class="bd-1">
                        <div class="mod-2">
                            <div class="hd-2 cf">
                                <h2 class="j_common_add_title">新增通道</h2>
                            </div>
                            <div class="bd-2">
                                <div class="wrap-cont2 cf">

                                    <div class="grid-f4 fl">
                                        <div class="mod-3">
                                            <div class="bd-3">
                                                <form id="dataForm" type="post" action="" class="j_common_form"
                                                      data-add-url="channel/addchannel"
                                                      data-edit-url="channel/updatechannel"
                                                      data-back-url="tongdao_list.html">
                                                    <div class="wrap-cont">
                                                        <ul class="form-list">
                                                            <li>
                                                                通道名称：
                                                                <input data-valid="1" data-valid-message="通道名称" name="name" class="select-2 ipt-f3 j_common_form_autovalue" />
                                                            </li>
                                                            <li id="machineList"></li>
                                                            <li>
                                                                长度：
                                                                <input data-valid="1" data-valid-message="长度" name="length" class="select-2 ipt-f3 j_common_form_autovalue" />
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="btn-wrap">
                                                        <input class="btn btn-blue" type="submit" value="提交">
                                                    </div>
                                                </form>
                                            </div>
                                        </div><!-- mod-3 -->
                                    </div><!-- grid-f4 -->
                                </div>
                            </div>
                        </div><!-- mod-2 -->
                    </div>
                </div>
            </div>
        </div>
        <!--#include virtual="/dts/inc/footer.html"-->
        <script>
            (function(){
                //渲染所有机器
                $.get($.Dts.rootUri + 'machine/machines', function(res){
                    new $.Dts.linkAgeSelect($('#machineList'), res.data, {
                        id:'select1',
                        name:'machineid',
                        label:'<span>机器：</span>',
                        textTag:'name',
                        valueTag:'id'
                    });
                });
            })();
        </script>
    </body>
</html>