<!--
<%if(item.status==1||item.status==2||item.status==3){%>
                <a href="#" class="j_btn_reset j_alarm_btn j_permission" data-role="3" data-alarm-type="3" data-alarm-id="<%=item.id%>">复位</a>&nbsp;
                <%}%>
-->
<script type="text/html" id="listTmpl">
    <%if(location.pathname.indexOf('report/') == -1){%>
        <p style="text-align:left;margin-bottom: 10px;">
            <input class="btn btn-blue j_btn_reset j_alarm_btn j_permission" data-role="3" data-alarm-type="3" type="button" id="btnRest" value="复位">
        </p>
    <%}%>
    <table class="table table-auto">
        <thead>
        <tr>
            <th><div style="width:2em;">序号</div></th>
            <th><div style="width:4em;">报警类型</div></th>
            <th><div style="width:4em;">机器名称</div></th>
            <th><div style="width:4em;">通道名称</div></th>
            <th><div style="width:4em;">通道距离</div></th>
            <th><div style="width:4em;">区域名称</div></th>
            <th><div style="width:4em;">报警区域</div></th>
            <th><div style="width:2em;">灯号</div></th>
            <th><div style="width:5em;">预警继电器</div></th>
            <th><div style="width:5em;">火警继电器</div></th>
            <th><div style="width:4em;">报警声音</div></th>
            <th><div style="width:4em;">实际温度</div></th>
            <th><div style="width:6em;">预设报警温度</div></th>
            <th><div style="width:2em;">状态</div></th>
            <th><div style="width:4em;">添加时间</div></th>
            <th><div style="width:6em;">上次更新时间</div></th>
            <th><div style="width:5em;">上次更新人</div></th>
            <th><div style="width:2em;">操作</div></th>
        </tr>
        </thead>
        <tbody>
        <%for(i = 0; i < data.length; i++){%>
        <%var item = data[i]%>
        <tr>
            <td><%=item.id%></td>
            <td><%=['','预警','火警','差温报警','温升速率报警','低温故障','高温故障','斯托克斯故障','反斯托克斯故障','数据存储溢出'][item.type]%></td>
            <td><%=item.machineName%></td>
            <td><%=item.channelName%></td>
            <td><%=item.length%></td>
            <td><%=item.areaName%></td>
            <td><%=item.alarmName%></td>
            <td><%=item.light%></td>
            <td><%=item.relay1%></td>
            <td><%=item.relay%></td>
            <td><%=item.voice%></td>
            <td><%=item.temperature%></td>
            <td><%=item.temperaturePre%></td>
            <td><%=['新增','报警','确认','消音','消音过','复位','复位过'][item.status]%></td>
            <td><%=item.addTime%></td>
            <td><%=item.lastModTime%></td>
            <td><%=item.lastModUserid%></td>
            <td>
                <%if(location.pathname.indexOf('report/') == -1){%>
                    <%if(item.status==1){%>
                    <a href="#" class="j_btn_ok j_alarm_btn j_permission" data-role="3" data-alarm-type="1" data-alarm-id="<%=item.id%>">确认</a>&nbsp;
                    <%}%>
                    <%if(item.status==1||item.status==2){%>
                    <a href="#" class="j_btn_voice j_alarm_btn" data-alarm-type="2" data-alarm-id="<%=item.id%>">消音</a>&nbsp;
                    <%}%>
                <%}%>

                <%if(item.history.length){%>
                <a href="#" class="j_btn_reset j_history_btn j_permission" data-role="3">查看历史</a>&nbsp;<%}%>
            </td>
        </tr>
        <%if(item.history.length){%>
        <tr class="hide">
            <td></td>
            <td colspan="17">
                <%for(var h = 0; h < item.history.length;  h++){%>
                <%var his = item.history[h]%>
                <p>
                    操作：<%=['','','确认','消音','','复位'][his.operation]%>&nbsp;&nbsp;
                    操作时间：<%=his.lastModTime%>&nbsp;&nbsp;
                    操作人：<%=his.lastModUserid%>&nbsp;&nbsp;
                </p>
                <%}%>
            </td>
        </tr><%}%>
        <%}%>
        </tbody>
    </table>
    <div>
        共<%=Math.ceil(count/50)%>页 &nbsp;
        &nbsp;第<%=Math.ceil($.Dts.areaManager.historyStart/50)%>页&nbsp;
        <%if(Math.ceil($.Dts.areaManager.historyStart/50) > 1){%>
            <a href="#" class="j_btn_history_page" data-page="1">首页</a>&nbsp;
            <a href="#" class="j_btn_history_page" data-page="<%=Math.ceil($.Dts.areaManager.historyStart/50)-1%>">上一页</a>&nbsp;
        <%}%>
        <%if(Math.ceil($.Dts.areaManager.historyStart/50) < Math.ceil(count/50)){%>
            <a href="#" class="j_btn_history_page" data-page="<%=Math.ceil($.Dts.areaManager.historyStart/50)+1%>">下一页</a>&nbsp;
            <a href="#" class="j_btn_history_page" data-page="<%=Math.ceil(count/50)%>">尾页</a>
        <%}%>


    </div>
</script>

<script>
    (function(){
        $('.j_alarm_table').delegate('.j_btn_history_page', 'click', function(e){
            e.preventDefault();
            var $target = $(this);
            var page = +$target.attr('data-page');
            $.Dts.areaManager.historyStart = (page - 1) * 50 + 1;
            $.Dts.areaManager.loadHistory();
        });
    })();

</script>