<ul class="ui-nav-fold">
    <li>
        <dl>
            <dt><a class="toggle-btn" href="#">—</a>用户管理</dt>
            <dd>
                <ul>
                    <li>
                        <a href="login.html">登录</a>
                    </li>
                    <li>
                        <a href="add.html">新增用户</a>
                    </li>
                    <li>
                        <a href="list.html">用户列表</a>
                    </li>
                </ul>
            </dd>
        </dl>
    </li>
</ul>
