<ul class="ui-nav-fold">
    <li>
        <dl>
            <dt><a class="toggle-btn" href="#">—</a><a href="area_list.html">区域</a></dt>
            <dd style="margin-left: -15px;">
                <div class="tree" id="areaTree"></div>
            </dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt><a class="toggle-btn" href="#">—</a><a href="channel_list.html">仪器</a></dt>
            <dd style="margin-left: -15px;">
                <div class="tree" id="channelTree"></div>
            </dd>
        </dl>
    </li>
</ul>
