<ul class="ui-nav-fold">
    <li>
        <dl>
            <dt><a class="toggle-btn" href="#">—</a>厂区设置</dt>
            <dd>
                <ul>
                    <li class="j_permission" data-role="1">
                        <a href="changqu_fenqu_list.html">分区设置</a>
                    </li>
                    <li class="j_permission" data-role="2">
                        <a href="changqu_yingjian_list.html">硬件设备设置</a>
                    </li>
                    <li class="j_permission" data-role="1">
                        <a href="changqu_wendu_list.html">温度报警设置</a>
                    </li>
                    <li class="j_permission" data-role="1">
                        <a href="changqu_tongdao_list.html">分区通道设置</a>
                    </li>
                    <li class="j_permission" data-role="1">
                        <a href="changqu_level_image_list.html">厂区类型默认图片设置</a>
                    </li>
                </ul>

            </dd>
        </dl>
    </li>
    <li class="j_permission" data-role="1">
		<dl>
            <dt><a class="toggle-btn" href="#">—</a>机器设置</dt>
            <dd>
                <ul>
                    <li>
                        <a href="jiqi_list.html">机器设置</a>
                    </li>
                </ul>
            </dd>
        </dl>
    </li>
    <li class="j_permission" data-role="1">
		<dl>
            <dt><a class="toggle-btn" href="#">—</a>通道设置</dt>
            <dd>
                <ul>
                    <li>
                        <a href="tongdao_list.html">通道设置</a>
                    </li>
                </ul>
            </dd>
        </dl>
    </li>
    <li class="j_permission" data-role="1">
		<dl>
            <dt><a class="toggle-btn" href="#">—</a>系统设置</dt>
            <dd>
                <ul>

                    <li>
                        <a href="xitong_wendu_tks.html">温度数据保存设置</a>
                    </li>
                    <li>
                        <a href="xitong_qianduan.html">刷新时间设置</a>
                    </li>
                    <li>
                        <a href="xitong_ruanjianqixian.html">软件使用期限设置</a>
                    </li>
                    <li>
                        <a href="config_list.html?type=6">故障条件设置</a>
                    </li>
                    <li>
                        <a href="xitong_check.html">系统自检</a>
                    </li>
                </ul>
            </dd>
        </dl>
    </li>
</ul>
