<ul class="ui-nav-fold">
    <li>
        <dl>
            <dt><a class="toggle-btn" href="#">—</a><a href="area_list.html">区域列表</a></dt>
            <dd style="margin-left: -15px;">
                <div class="tree" id="areaTree"></div>
            </dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt><a class="toggle-btn" href="#">—</a><a href="channel_list.html">机器通道列表</a></dt>
            <dd style="margin-left: -15px;">
                <div class="tree" id="channelTree"></div>
            </dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt><a class="toggle-btn" href="#">—</a><a href="history_list.html">运行日志</a></dt>
            <dd>

            </dd>
        </dl>
    </li>
</ul>
